* {
  margin: 0;
  padding: 0;
}

:root {
  --persian-indigo: #301974ff;
  --oxford-blue: #06052bff;
  --chrysler-blue: #4a2ab1ff;
  --chrysler-blue-light: rgb(65, 15, 228);
  --russian-violet: #14133aff;
  --oxford-blue-2: #0b0830ff;
}

main {
  background: linear-gradient(to right, #4a2ab1ff, #301974ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.todo-container {
  background-color: var(--russian-violet);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.todo-header {
  width: 100%;
  height: 80px;
}

.todo-header h1 {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  margin: 1rem auto 2rem auto;
  letter-spacing: 3px;
}

.todo-input-container {
  margin: auto;
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.order-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
}

.move-down-button,
.move-up-button {
  outline: none;
  border: none;
  background-color: #fff;
  border-radius: 15px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.move-down-button:hover,
.move-up-button:hover {
  background-color: var(--chrysler-blue-light);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.todo-item-text-container {
  height: 100%;
  width: 30%;
  text-transform: capitalize;
  margin: auto 0 auto 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author-text {
  padding-bottom: 0.5rem;
  width: 50%;
}

.todo-text {
  width: 50%;
  margin: auto;
  padding-left: 1rem;
}

.change-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.edit-button,
.remove-button {
  outline: none;
  border: none;
  background-color: #fff;
  border-radius: 15px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.edit-button:hover,
.remove-button:hover {
  background-color: var(--chrysler-blue-light);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.todo-alert {
  display: none;
  color: red;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: auto 1rem auto 0.5rem;
}

.todo-success {
  display: none;
  color: var(--chrysler-blue-light);
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: auto 1rem auto 0.5rem;
}

.alert-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.todo-input,
.author-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--chrysler-blue); /* Change to your preferred color */
  outline: none;
  padding: 10px 0;
  width: 30%;
  font-size: 16px;
  color: #ffffff; /* White text color */
  transition: border-color 0.3s ease-in-out;
}

.submit-todo-button {
  padding: 10px;
  outline: none;
  border: none;
  background-color: var(--chrysler-blue);
  color: #fff;
  border-radius: 20px;
  width: 20%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.submit-todo-button:hover {
  background-color: var(--chrysler-blue-light);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.filter-container {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#sortByAuthorBtn,
#sortByTimestampBtn {
  padding: 10px;
  outline: none;
  border: none;
  background-color: var(--chrysler-blue);
  color: #fff;
  border-radius: 10px;
  width: 30%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

#sortByAuthorBtn:hover,
#sortByTimestampBtn:hover {
  background-color: var(--chrysler-blue-light);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.todo-list {
  width: 90%;
  height: 70vh; /* Set a max height with viewport units for responsiveness */
  margin: 20px auto; /* Center the container and give some space around it */
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between each todo item */
  padding: 15px;
  overflow-y: auto; /* Enable vertical scrolling */
  scroll-behavior: smooth; /* Smooth scrolling */
}

.todo-list::-webkit-scrollbar {
  width: 8px; /* Slim scrollbar */
}

.todo-list::-webkit-scrollbar-thumb {
  background-color: #4a2ab1; /* Accent color for the scrollbar */
  border-radius: 4px;
}

.todo-list::-webkit-scrollbar-track {
  background: #1f2833; /* Darker background for scrollbar track */
}

.show {
  font-size: 1.5rem;
  display: block;
}

.todo-item {
  background-color: var(--persian-indigo);
  min-height: 90px;
  color: #fff; /* White text for contrast */
  padding: 12px 20px;
  border-radius: 8px; /* Rounded corners */
  display: flex;
  align-items: center; /* Align items horizontally */
  margin: 8px 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.todo-item.completed {
  background-color: #26324288; /* Soft background */
  color: var(--russian-violet);
}

.todo-item:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

/* Keyframes and animation classes */

.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-11-28 9:49:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-11-28 9:55:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.slide-out-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-11-28 10:1:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .todo-container {
    width: 90%;
    
    padding: 20px;
  }

  .todo-input-container {
    flex-direction: column;
    height: auto;
  }

  .todo-form {
    flex-direction: column;
    height: auto;
  }

  .todo-input,
  .author-input {
    width: 80%;
    margin-bottom: 10px;
  }

  .submit-todo-button {
    width: 50%;
  }

  .filter-container {
    flex-direction: column;
    height: auto;
  }

  #sortByAuthorBtn,
  #sortByTimestampBtn {
    width: 80%;
    margin-bottom: 10px;
  }

  .todo-list {
    height: auto;
    max-height: 80vh;
  }

  .todo-item {    
    padding: 15px;
  }

  .todo-item-text-container {
    width: 100%;
    margin: 10px 0;
  }

  .todo-text,
  .author-text {
    width: 100%;
  }

  .change-div,
  .order-div {
  
    width: 100%;
    margin-top: 10px;
  }

  .edit-button,
  .remove-button,
  .move-up-button,
  .move-down-button {
    width: 45%;
  }
}
